<section class="country-filters">
  <section class="search-filter shadow">
    <ion-icon class="icon" name="search-outline"></ion-icon>
    {{ " " }}
    <input
      type="text"
      placeholder="Search for a country..."
      [(ngModel)]="searchFilter"
    />
  </section>

  <!-- <app-filter
    placeholder="Filter by Region"
    [values]="regionOptions"
    [(value)]="regionFilter"
  ></app-filter> -->
</section>

<section class="country-cards">
  <app-card *ngFor="let country of countries" [country]="country"></app-card>
</section>
